<app-header> </app-header>
<body>
  <div class="home">
    <div class="texto">
      <h3 class="titulo">Como você pode ajudar</h3>
      <h3 class="descricao">
        Existem várias formas de você contribuir para melhorar a vida de mães e
        bebês em situação de vulnerabilidade.
      </h3>
    </div>
    <div>
      <div class="cards">
        <a href="/doar-dinheiro"
          ><div class="card-esquerda">
            <img src="assets/Icone doar em dinheiro.png" alt="" />
            <h3>DOAÇÃO EM DINHEIRO</h3>
            <p>
              Contribua com qualquer valor para a compra de itens essenciais,
              como kits de higiene e enxoval, ou para ajudar a cobrir custos
              operacionais, como transporte e manutenção da sede.
            </p>
          </div></a
        >

        <div class="card-centro">
          <img src="assets/Icone doar usados.png" alt="" />
          <h3>DOAÇÃO DE ITENS USADOS</h3>
          <p>
            Doe roupas, brinquedos e outros itens de bebê que você não usa mais.
            Esses itens serão entregues diretamente às mães que precisam de
            ajuda.
          </p>
        </div>
        <a href="./lojinha"
          ><div class="card-direita">
            <img src="assets/Icone lojinha.png" alt="" />
            <h3>COMPRE NA LOJINHA</h3>
            <p>
              Apoie o projeto comprando produtos customizados na nossa lojinha.
              Todo o dinheiro arrecadado com as vendas será revertido para as
              ações sociais, ajudando ainda mais mães a cuidarem dos seus bebês.
            </p>
          </div></a
        >
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
