<app-header></app-header>

<main class="container-main">
  <div class="content-center">
    <div class="introducao">
      <h1>Compre na lojinha</h1>
    </div>
    <app-opcoes-doar></app-opcoes-doar>
    <main>
      <section class="invitation-section">
        <h1>Visite Nossa Lojinha Virtual!</h1>
        <p>
          Que tal apoiar uma causa especial e, ao mesmo tempo, levar para casa
          produtos lindos? Na nossa lojinha, todo o dinheiro arrecadado é
          destinado a ajudar mães e bebês em situação de vulnerabilidade.
        </p>
        <a href="#lojinha" class="btn-visit-lojinha">Acesse a Lojinha Agora</a>
      </section>
      <div class="highlight-products">
        <h2>Destaques da Lojinha</h2>
        <div class="product-highlights">
          <div class="highlight-item">
            <img
              src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true"
              alt="Caneca Bebê"
            />
            <span>Caneca Bebê - R$50,00</span>
          </div>
          <div class="highlight-item">
            <img
              src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true"
              alt="Caneca Abraço"
            />
            <span>Caneca Abraço - R$50,00</span>
          </div>
          <div class="highlight-item">
            <img
              src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true"
              alt="Caneca Alegria"
            />
            <span>Caneca Alegria - R$50,00</span>
          </div>
        </div>
      </div>
    </main>
  </div>
</main>

<app-footer></app-footer>
