<app-header></app-header>
<main class="container-main">
  <div class="content-center">
    <div class="introducao">
      <h1>Conheça alguns dos nossos recém-nascidos ajudados</h1>
    </div>
    <div class="galeria" id="galeria">
      <div class="card">
        <img class="img-card" src="assets/Imagem-de-pessoa-3.png" alt="Recém-nascido ajudado">
        <p class="text-card">Henrique</p>
      </div>
      <div class="card">
        <img class="img-card" src="assets/Imagem-de-pessoa-3.png" alt="Recém-nascido ajudado">
        <p class="text-card">Henrique</p>
      </div>
      <div class="card">
        <img class="img-card" src="assets/Imagem-de-pessoa-3.png" alt="Recém-nascido ajudado">
        <p class="text-card">Henrique</p>
      </div>
      <div class="card">
        <img class="img-card" src="assets/Imagem-de-pessoa-3.png" alt="Recém-nascido ajudado">
        <p class="text-card">Henrique</p>
      </div>
      <div class="card">
        <img class="img-card" src="assets/Imagem-de-pessoa-3.png" alt="Recém-nascido ajudado">
        <p class="text-card">Henrique</p>
      </div>
      <div class="card">
        <img class="img-card" src="assets/Imagem-de-pessoa-3.png" alt="Recém-nascido ajudado">
        <p class="text-card">Henrique</p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
