/* Estilos Globais */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Sylvia_Angel", sans-serif;
  background-color: #8fd3d5; /* var(--azul-background) substituído */
  color: #4bb9ba; /* var(--azul-escuro) substituído */
  line-height: 1.6;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Sylvia_Angel", sans-serif;
}

/* Títulos */
.title-primary {
  font-size: 3.5rem;
  text-align: center;
}

.title-secondary {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Seções */
.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
}

.section {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 40px;
}

.section-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Espaço entre os elementos */
}

.section-intro {
  text-align: center;
}

.fundo-claro {
  background-color: #bbe4e5; /* var(--azul-claro) substituído */
  color: #4bb9ba; /* var(--azul-escuro) substituído */
  width: 100%;
}

.fundo-escuro {
  background-color: #8fd3d5; /* var(--azul-background) substituído */
  color: #fff; /* var(--branco) substituído */
  width: 100%;
}

/* Texto */
.text {
  font-size: 1.25rem;
  text-align: justify;
  width: 700px;
  font-family: "Montserrat", sans-serif;
}

#text-introduction {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.section-text-left {
  margin-right: 30px;
}

.section-text-right {
  margin-left: 30px;
  text-align: right;
}

/* Imagens */
img {
  border-radius: 30px;
  width: 330px;
  height: auto;
  object-fit: cover;
}

/* Vídeo */
iframe {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
}

/* Estilos Responsivos */
@media (max-width: 1024px) {
  .title-primary {
    font-size: 3rem;
  }
  .title-secondary {
    font-size: 2rem;
    text-align: center;
  }
  .text {
    font-size: 1.1rem;
    width: auto;
  }
}

@media (max-width: 768px) {
  .section-about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .section-text-left,
  .section-text-right {
    margin: 0;
  }
  .section {
    padding: 15px;
  }
  img {
    width: 230px;
  }
  .title-secondary {
    text-align: center;
  }
  #como-surgiu {
    flex-direction: column-reverse;
  }
  .text {
    padding: 15px;
    width: 90%;
  }
  iframe {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .title-primary {
    font-size: 2.5rem;
  }
  .title-secondary {
    font-size: 1.75rem;
    text-align: center;
  }
  .text {
    font-size: 1rem;
    padding: 10px;
    width: auto;
  }
  img {
    width: 200px;
  }
}
