<app-header></app-header>
<body>
  <div class="container">
    <div class="fundo-claro">
      <div class="container-center">
        <section class="section section-intro" id="Introducao-about">
          <p class="title-primary">Abraçe um recém-nascido</p>
          <p class="intro" id="text-introduction">
            Descubra como a fé e o empreendedorismo se uniram para transformar
            vidas – assista à mentoria "O caminho para empreender com a cultura
            do Reino".
          </p>
          <iframe
            src="https://www.youtube.com/embed/AXGqcPmdaWw?si=SgZeMWU8-CZWKHJn&amp;start=3068"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </section>
      </div>
    </div>

    <div class="fundo-escuro">
      <div class="container-center">
        <section class="section section-about" id="missao">
          <div class="section-text-left">
            <p class="title-secondary">Nossa Missão</p>
            <p class="text">
              Nossa missão é combater o abandono infantil causado pela falta de
              recursos para itens básicos de enxoval. Apoiamos mães em situações
              de vulnerabilidade, oferecendo kits de enxoval que proporcionam
              dignidade, cuidado e amor aos recém-nascidos. Com esses gestos,
              buscamos manter as famílias unidas, oferecendo esperança em
              momentos de grande dificuldade.
            </p>
          </div>
          <img
            src="assets/Images/Imagem de pessoas ajudadas 1.png"
            loading="lazy"
            alt="Uma grávida de vestido e pé descalço entre duas pessoas tocando em sua barriga"
          />
        </section>
      </div>
    </div>

    <div class="fundo-claro">
      <div class="container-center">
        <section class="section section-about" id="como-surgiu">
          <img
            src="assets/Images/Joseane2.png"
            loading="lazy"
            alt="Responsável projeto, selfie do seu rosto, ela está sorrindo e usa óculos"
          />
          <div class="section-text-right">
            <p class="title-secondary">Como o Projeto Surgiu</p>
            <p class="text">
              O projeto Abrace um RN nasceu de uma jornada espiritual de Joseane
              em busca de um propósito maior. Essa experiência a levou a
              transformar sua fé em ação, criando uma iniciativa que acolhe
              recém-nascidos em vulnerabilidade, oferecendo apoio e dignidade às
              famílias. Essa missão foi fortalecida pelo projeto Kairós, que
              oferece protetores de porta como uma forma de arrecadar fundos,
              reforçando o compromisso de abençoar vidas necessitadas.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="fundo-escuro">
      <div class="container-center">
        <section class="section section-about" id="projeto-Kairos">
          <div class="section-text-left">
            <p class="title-secondary">Projeto Kairós e o Abrace um RN</p>
            <p class="text">
              Desde o início, o projeto Kairós tem um papel essencial na missão
              do Abrace um RN, por meio da venda de protetores de porta. Parte
              da arrecadação é utilizada para fabricar e comprar enxovais para
              recém-nascidos em extrema pobreza. A cada três protetores
              vendidos, conseguimos abençoar um bebê, garantindo dignidade desde
              o início da vida. Os protetores e outros itens que ajudam na
              arrecadação estão disponíveis em nossa lojinha.
            </p>
          </div>
          <img
            src="assets/Images/projetoKairos.png"
            loading="lazy"
            alt="Logo do projeto Kairós Protetor de Porta, que consiste em uma ilustração de uma casa seguranda por duas mãos ilustradas"
          />
        </section>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
