<header class="app-header">
  <img ngSrc="./assets/Logo.png" width="80" height="60" />
  <ul class="nav-links">
    <li>
      <a class="active" href="#">Home</a>
    </li>
    <li>
      <a href="#">Galeria</a>
    </li>
    <li>
      <a href="/lojinha">Lojinha</a>
    </li>
    <li>
      <a href="/sobre">Sobre</a>
    </li>
  </ul>
  <div class="buttons">
    <a href="/receber" class="btn btn-receber">Receber</a>
    <a href="/doar" class="btn btn-doar">Doar</a>
  </div>
</header>
