<header class="app-header">
  <a class="active" href="/home"><img ngSrc="assets/Logo.png" width="80" height="60" /></a>
  <ul class="nav-links">
    <li>
      <a class="active" href="/home">Home</a>
    </li>
    <li>
      <a href="/galeria">Galeria</a>
    </li>
    <li>
      <a href="/lojinha">Lojinha</a>
    </li>
    <li>
      <a href="/voluntarie-se">Voluntarie-se</a>
    </li>
    <li>
      <a href="/sobre">Sobre</a>
    </li>
  </ul>
  <div class="buttons">
    <a href="/receber">
      <app-botao
            btn-text="Receber"
            variant="pequeno-rosa"
        >
        </app-botao>
    </a>
    <a href="/doar-inicial">
      <app-botao
            btn-text="Doar"
            variant="pequeno-azul"
        >
        </app-botao>
    </a>
  </div>
</header>
