@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --rossa-escuro: #f68597;
  --rosa-claro: #feebee;
  --branco: #fff;
  --azul-escuro: #4bb9ba;
  --azul-claro: #bbe4e5;
  --azul-background: #8fd3d5;
}
