/* Importando as fontes Sylvia's Angel e Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sylvia's+Angel&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #bbe4e5;
}

.app-section-blob {
  display: flex;
  background-color: #e4e4e4;
  width: 100%;
  height: 739px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-blob {
  position: absolute;
  left: 0;
}

.content {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 170px;
  margin-left: 100px;
  width: 300px;
  h1 {
    font-family: "Sylvia's Angel", cursive;
    color: #ffffff;
    font-size: xx-large;
  }

  h1 span {
    font-family: "Sylvia's Angel", cursive;
    color: #d16d7d;
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    width: 250px;
    height: 52px;
  }

  a {
    padding: 5px;
  }
}

.app-missao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  background: #bbe4e5;
  flex-wrap: wrap;
}

.app-missao div {
  text-align: center;
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-missao h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #4bb9ba;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
}

#apoio-maes h1 {
  width: 302px;
  height: 92px;
}

#unindo-doadores h1 {
  width: 301px;
  height: 62px;
}

#kits-transformam-vidas h1 {
  width: 336px;
  height: 48px;
}

.app-missao p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #4bb9ba;
  text-align: center;
  font-family: "Sylvia Angel";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#apoio-maes p {
  width: 300px;
  height: 76.452px;
}

#unindo-doadores p {
  width: 254px;
  height: 88px;
}

#kits-transformam-vidas p {
  width: 299px;
  height: 90px;
}

/* Adiciona um ajuste responsivo */
@media (max-width: 1024px) {
  .app-missao {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.app-participar-doacao {
  width: 1440px;
  height: 1000px;
  flex-shrink: 0;
  background: #daf1f2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .svg-fundo-section-doacao {
    position: absolute;
    width: 100%;
    height: 1382px;
    top: -98px;
  }
  .svg-detalhe-ondinha {
    position: relative;
    align-items: center;
    top: -465px;

    left: 540px;
  }

  .container-preciso-ajuda {
    background: #bbe4e5;
  }

  .container-quero-ajuda {
    background: #fcdce1;
  }

  .container-preciso-ajuda,
  .container-quero-ajuda {
    border-radius: 30px;
    width: 472px;
    height: 581px;
    justify-content: center;
    text-align: center;
    align-items: center;

    right: 150px;
    margin: 50px;
    position: relative;
  }

  .container-preciso-ajuda h1 {
    color: #4bb9ba;
    text-align: center;
    font-family: Montserrat;
    font-weight: 900;
    text-align: center;
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .container-preciso-ajuda p {
    display: flex;
    width: 408px;
    height: 163px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #4bb9ba;
    text-align: center;
    font-family: "Sylvia Angel";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    align-content: center;
  }

  .container-preciso-ajuda button {
    width: 319px;
    height: 113px;
    flex-shrink: 0;
    border-radius: 30px;
    margin: 0;

    color: #4bb9ba;

    font-family: Montserrat;
    font-size: 45.984px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    cursor: pointer;
  }

  .container-preciso-ajuda button:hover {
    background-color: #88ebcd;
  }

  .container-quero-ajuda h1 {
    color: #f68597;
    text-align: center;
    font-family: Montserrat;
    font-weight: 900;
    text-align: center;
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .container-quero-ajuda h1::after {
    content: "AJUDAR";
    display: block;
  }

  .container-quero-ajuda p {
    display: flex;
    width: 408px;
    height: 163px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #f68597;
    text-align: center;
    font-family: "Sylvia Angel";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    align-content: center;
  }

  .container-quero-ajuda button {
    width: 319px;
    height: 113px;
    flex-shrink: 0;
    border-radius: 30px;
    margin: 0;

    color: #f68597;

    font-family: Montserrat;
    font-size: 45.984px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    cursor: pointer;
  }
  .container-quero-ajuda button:hover {
    background-color: #cca9bf;
  }
}

.app-conhecer-ajudados {
  width: 1440px;
  height: 1181px;
  flex-shrink: 0;

  h1 {
    align-items: center;
    width: 500px;
    height: 102.911px;
    flex-shrink: 0;
    color: #f68597;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    font-family: "Sylvia Angel";
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.624px;
    margin: auto;
    margin-top: 50px;
  }
  span {
    color: #4bb9ba;
  }

  .container-ajudados {
    width: 1300px;
    height: 600px;
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    border-radius: 60px;
    background: #daf1f2;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
  }

  .container-ajudados img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 30px;
    flex-wrap: wrap;
  }
  .container-ajudados p {
    color: #4bb9ba;
    text-align: justify;
    font-family: "Sylvia Angel";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .content-abaixo-de-ajudados {
    margin-top: 50px;
    text-align: center;

    align-items: center;
    display: flex; /* Define como flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    span {
      width: 500px;
      height: 100px;
      justify-content: space-between;
      font-family: "Sylvia Angel";
      font-size: 43px;
      font-style: normal;
      font-weight: 400;
      line-height: 43.624px;
      padding-right: 100px;
    }
    button {
      width: 319px;
      height: 113px;
      flex-shrink: 0;
      border-radius: 30px;
      margin: 0;
      color: #4bb9ba;
      font-family: Montserrat;
      font-size: 45.984px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #88ebcd;
    }
  }
}
