<app-header></app-header>

<main class="container-main">
  <div class="content-center">
    <div class="introducao">
      <h1>Doação em dinheiro</h1>
    </div>
    <app-opcoes-doar></app-opcoes-doar>
    <section class="donation-section">
      <div class="donation-container">
        <h3>Ajude a Completar um Kit para Mães e Bebês</h3>
        <br />
        <div class="donation-fonte">
          <p>
            Com qualquer valor para a compra de itens essenciais, como kits de
            higiene e enxoval, ou para ajudar a cobrir custos operacionais, como
            transporte e manutenção da sede.
          </p>
        </div>
        <div class="donation-options">
          <div class="kit-higiene">
            <h4>Kit Higiene e Enxoval</h4>
            <br />
            <p>Você pode doar em qualquer valor!</p>
            <br />
            <img src="img/barrapor.png" alt="barra de progresso" class="responsive-img" />
            <br />
            <p><strong>Arrecadado até agora: R$ 450</strong></p>
            <p><strong>Meta: R$ 500</strong></p>
            <br />
            <app-botao btn-text="Doar" variant="pequeno-branco"></app-botao>
          </div>
          <div class="project-support">
            <h4>Apoio para custos do projeto</h4>
            <br />
            <p>Nos ajude com os custos operacionais!</p>
            <br />
            <ul>
              <li>Manutenção do espaço</li>
              <li>Despesas com transporte</li>
              <li>Equipamentos</li>
            </ul>
            <br />
            <app-botao btn-text="Doar" variant="pequeno-branco"></app-botao>
          </div>
        </div>

        <div class="kit-composition">
          <div class="kit-hygiene">
            <h4>Composição dos Kits Higiene</h4>
            <br />

            <ul class="fonteA">
              <li>Fralda descartável</li>
              <li>Shampoo</li>
              <li>Pomada</li>
              <li>perfume</li>
              <li>Lenço umedecido</li>
              <li>Sabonete</li>
            </ul>
          </div>
          <div class="kit-enxoval">
            <h4>Composição dos Kits Enxoval</h4>
            <br />
            <ul>
              <li>25 peças de roupa (até 2 meses)</li>
              <li>5 fraldas de pano</li>
              <li>1 toalha</li>
              <li>2 panos de boca</li>
              <li>2 cueiros</li>
              <li>1 cobertor</li>
              <li>1 lençol</li>
            </ul>
            <br />
            <p>Total de R$ 500 em média</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<app-footer></app-footer>
