/* Definição da fonte Sylvia Angel */
@font-face {
  font-family: "Sylvia Angel";
  src: url("font/Sylvia Angel.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #b3e5e5; /* Fundo leve e suave */
  color: #333;
}

main {
  padding: 20px;
}

.donation-section h2 {
  text-align: center;
  color: #f98e9a;
  margin-bottom: 20px;
  font-family: "Sylvia Angel", sans-serif;
}

.donation-container {
  background-color: #f98e9a;
  padding: 40px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.donation-options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.donation-options div {
  background-color: #f5c7d3;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
}

.donation-options h4 {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #ffffff;
  padding: 8px 30px;
  border-radius: 10px;
  color: #f98e9a;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;
  border: none;
}

button:hover {
  background-color: #71e0ce;
  color: #ffffff;
}

.kit-composition {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.kit-composition div {
  background-color: #f5c7d3;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
}

.kit-composition h4 {
  font-family: Arial, Helvetica, sans-serif;
}
