@import
"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap";

:root {
  --rosa-claro: #feebee;
  --rosa-escuro: #f68597;
  --azul-claro: #bbe4e5;
  --azul-medio: #8fd3d5;
  --azul-escuro: #4bb9ba;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Isso garante que o body ocupe toda a altura da viewport */
  font-size: 100%;
}

body {
  font-family: "Sylvia Angel", sans-serif;
  background-color: var(--azul-claro);
  color: var(--azul-escuro);
  margin: 0;
  padding: 0;
  min-height: 100vh; /* 100% da altura da viewport */
  display: flex;
  flex-direction: column;
}

.container-main {
  flex-grow: 1; /* Faz com que o conteúdo principal ocupe o espaço entre o header e o footer */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px; /*Margem para todas as páginas se afastarem do header*/
  padding: 2rem;
}

.content-center {
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.introducao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;
}

.introducao h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: var(--rosa-escuro);
}

.introducao p {
  text-align: center;
  color: var(--azul-escuro);
  font-size: 1.5rem;
  font-weight: 400;

}
.introducao strong {
  color: var(--rosa-escuro);
  font-weight: 400;
}

.introducao ul {
  display: block;
  margin: auto;
  text-align: left;
  list-style-position: inside; /* Faz com que o marcador fique dentro do box */
  padding: 0;
  color: var(--azul-escuro);
  font-size: 1.5rem;
}

.introducao li {
  margin-bottom: 0.5rem; /* Espaço entre os itens da lista */
  padding-left: 5px; /* Ajusta o espaço à esquerda para aproximar os marcadores do texto */
  list-style-type: disc; /* Define o tipo de marcador */
}
