<section class="app-missao">
  <div>
    <img
      src="./assets/svg-mulher-amamentando-bebe.svg"
      alt="Mulher amamentando bebe"
      class="svg-mulher-amamentando"
      width="131"
      height="160"
    />
    <h1>Apoio às mães vulneráveis</h1>
    <p>
      Oferecemos suporte a mães em situação de vulnerabilidade, entregando itens
      essenciais para garantir um começo seguro e digno aos seus recém-nascidos.
    </p>
  </div>
  <div>
    <img
      src="./assets/svg-mulher-abracando-bebe.svg"
      alt="Mulher abracando bebe"
      class="svg-mulher-abracando"
      width="158"
      height="160"
    />
    <h1>Unindo quem doa e quem precisa</h1>
    <p>
      Facilitamos o encontro entre mães que precisam de apoio e pessoas
      dispostas a doar, criando uma ponte de solidariedade.
    </p>
  </div>
  <div>
    <img
      src="./assets/svg-dedos-tocando.svg"
      alt="Dedos tocando"
      class="svg-dedos-tocando"
      width="180"
      height="122"
    />
    <h1>Kits que transformam vidas</h1>
    <p>
      Cada kit doado ajuda a garantir que essas mães possam retornar para casa
      com mais segurança e dignidade, sem precisar abandonar seus filhos.
    </p>
  </div>
</section>
