<app-header></app-header>

<main class="container-main">
  <div class="content-center">
    <div class="introducao">
      <h1>Todo o dinheiro arrecadado será destinado a ajudar mães e bebês em vulnerabilidade</h1>
    </div>
    <div class="search-container">
      <i class="fas fa-search" id="search-icon"></i>
      <input type="text" id="search" placeholder="Buscar produtos..." style="display: none" />
      <!-- Inicialmente escondido -->
    </div>
    <section class="product-section">
      <!-- 12 produtos (canecas) -->
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span>
          <span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
      <div class="product-item">
        <img src="https://github.com/MakandaAraujo/Fotos/blob/main/bebe.png?raw=true" alt="Caneca" />
        <div class="product-details">
          <span class="product-name">Caneca</span><span class="product-price"><span class="currency">R$</span>
            <span class="amount">50,00</span></span>
        </div>
      </div>
    </section>
  </div>
</main>

<app-footer></app-footer>
